{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'usuarios/css/cadastro.css' %}">
</head>

<body>
    <script>
        setTimeout(function () {
            document.getElementById("mensagens-erro-sucesso").style.display = "none";
        }, 3000); // Tempo de espera em milisegundos (3000 = 3 segundos)
    </script>
    <div class="container">
        <br>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="text-center mb-4">
                    <img src="{% static 'usuarios/img/logo_adote.png' %}" width="40%">
                    <h2>Cadastre-se</h2>
                    <p>Seu cadastro salva vidas.</p>
                </div>
                <div id="mensagens-erro-sucesso">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" placeholder="Digite seu nome..." name="nome" id="nome">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" placeholder="Digite seu email..." name="email"
                            id="email">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" placeholder="Digite sua senha..." name="senha"
                            id="senha">
                    </div>
                    <div class="form-group">
                        <label for="confirmar_senha">Confirmar senha</label>
                        <input type="password" class="form-control" placeholder="Confirme sua senha..."
                            name="confirmar_senha" id="confirmar_senha">
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mx-2">Cadastrar</button>
                        <a href="{% url 'login' %}" class="btn btn-secondary mx-2">Já tenho uma conta</a>
                    </div>
                    <div class="form-group text-center mt-5"></div>

            </div>
            </form>
        </div>
    </div>
    </div>
</body>
<footer class="text-center">
    <div class="container">
        <p>Copyright &copy; PetMatch</p>
    </div>
</footer>

</html>